@import '../../themes/googly/index';


:host {
    background-color: $accent-color;
    width: 20%;
    max-width: 400px;
    min-width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    h1, h2 {
        text-align: center;
    }

    h1 {
        margin: 40px auto 0;
        color: $primary-header-alt-color;
        font-size: 1.6em;
    }

    h2 {
        color: $secondary-header-alt-color;        
        font-weight: light;
        margin: 0 auto 30px;
        font-size: 1.4em;
    }
}