@import '../../themes/googly/index';
@import '~foundation-sites/scss/foundation';

:host {
    background-color: $accent-color;
    width: 100%;
    position: fixed;
    top: 0;

    @include breakpoint(large){
        width: 20%;
        max-width: 400px;
        min-width: 300px;
        height: 100vh;
        left: 0;
    }

    h1 {
        margin: .4em auto 0;
        text-align: center;
        color: $alt-primary-header-color;
        font-size: 1em;
        
        @include breakpoint(large){
            margin: 40px auto 0;
            font-size: 1.4em;
        }
    }

    h2 {
        margin: 0 auto .4em;
        text-align: center;
        color: $alt-secondary-header-color;        
        font-weight: light;
        font-size: .8em;
        
        @include breakpoint(large){
            margin: 0 auto 30px;
            font-size: 1.2em;
            
        }
    }
}