<h2>
  Hi, my name is Elana.
</h2>

<p>
  I am a Software Developer, currently working on front-end applications at Pinnacol Assurance in Denver. 
  Some previous roles: Web Development Instructor at Galvanize, a Marketing Director for a renewable energy company, 
  and a consultant, providing web development, design and marketing value for clients. 
</p>

<p>
  My primary language is JavaScript. 
  I'm proficient with Node, Express, AngularJS, Angular, Ember and Vue. 
  I'm now exploring Elm amd Elixir. I've also got an eye for design, 
  and a high proficiency level with many design tools.
</p>

<p>
  Aside from coding, I have a tendency to organize things that connect people. 
  While at Galvanize, I launched a womens' Meetup on two campuses, 
  a mentorship program, and an Instructor Lunch n’ Learn program.
</p>

<p>
  I also enjoy (extremely) casual sports, writing, reading and good coffee. 
  I care a lot about animals (making their lives better), and education for everyone. 
  Most importantly, I am passionate about learning.
</p>