<section>
  <h2>
    Hi, my name is Elana.
  </h2>

  <p>
    I am a Software Developer, currently working on Angular 4 applications for 
    an insurance company. Some previous roles: Web Development Instructor at a 
    bootcamp, Marketing Director for a renewable energy company, and Consultant, 
    providing web development, design and marketing solutions directly to clients. 
  </p>

  <p>
    My primary language is JavaScript. I work with Node, Express, AngularJS, 
    Angular, Ember, React and Vue. I'm now exploring Elm and Elixir. I've also 
    got an eye for design, experience developing effective and appealing UX/UI, 
    as well as a high proficiency level with many design tools.
  </p>

  <p>
    Aside from coding, I have a tendency to get involved with community building. 
    While teaching, I launched a womens' Meetup on two campuses, a mentorship 
    program, and an Instructor Lunch n’ Learn program. I've given several talks
    at Meetups in the Denver area and I'm always open to volunteer opportunities.
  </p>

  <p>
    I also enjoy (extremely) casual sports, writing, reading and good coffee. 
    I care a lot about animals (making their lives better), and education for 
    everyone. Most importantly, I am passionate about learning.
  </p>
</section>