@import '../../themes/googly/colors.scss';
@import '~foundation-sites/scss/foundation';

.contact_card {
    width: 100%;
    margin-top: -1em;

    @include breakpoint(large){
        margin-top: 0;
    }

    .contact_card-media {
        width: 100%;
        height: 240px;
        background-image: url('../../assets/contact-image.jpg');
        background-size: cover;
    }

    form {
        width: 90%;
        max-width: 800px;
        margin: 20px auto auto;

        @include breakpoint(medium){
            width: 60%;
        }

        label {
            margin-top: 1em;
        }

        input {
            margin-bottom: 0;
        }

        button {
            float: right;
            margin-top: 1em;
        }

        small {
            color: $color1;
        }
    }
}