<div class="contact_card">
  <div class="contact_card-media"></div>
  <div class="contact_card-content">
    <form #f="ngForm" name="contact-form" novalidate (submit)="submitMessage(f.value, f.valid)">
        <label for="name">Name</label>
        <input type="text" name="name" ngModel required pattern="[A-Z,a-z, ]">
        <small *ngIf="name.errors && name.touched" class="text-danger">
          Name is required
        </small>
        <label for="Email">Email</label>
        <input type="text" name="email" ngModel required email>
        <small *ngIf="email.errors && email.touched">
            Must be a valid email address
        </small>
        <label for="note">Note</label>
        <textarea type="text" name="note" ngModel rows="4" required minlength="60"></textarea>
        <small *ngIf="note.errors && note.touched">
            Must be a valid email address
        </small>
        <button type="submit" class="button button-primary" [disabled]>Send</button>
        <!--<div class="g-recaptcha" data-sitekey="6LfrnScUAAAAAIXL2pP0_5zTl43Gna-x9Xnc4ICL"></div>-->
    </form>
  </div>
</div>