@import '../../../themes/googly/index';
@import '~foundation-sites/scss/foundation';

.large {
    display: none;
    margin: 1em 0;
    padding: 0;

    @include breakpoint(large){
        display: block;
    }

    li {
        color: $alt-primary-text-color;
        background-color: $accent-color;
        list-style: none;
        font-size: 1.2em;
        line-height: 1.6em;
        text-align: center;
        padding: .2em 0;
        margin: 0;
        width: 100%;

        &:hover {
            background-color: lighten($accent-color, 5%);
        }

        .active {
            color: $alt-anchor-color;
            font-weight: bold;
        }

        a {
            color: inherit;
        }
    }
}

.mobile {
    display: flex;
    justify-content: space-between;
    

    @include breakpoint(large){
        display: none;
    }

    a {
        font-size: .7em;
        color: $color4;
    }
}

