$color1: hsla(354%, 62%, 41%, 1);
$color2: hsla(243%, 55%, 16%, 1);
$color3: hsla(60%, 96%, 69%, 1);
$color4: hsla(63%, 100%, 96%, 1);
$color5: hsla(0%, 0%, 79%, 1);

$color1: rgba(168, 39, 52, 1);
$color2: rgba(20, 18, 62, 1);
$color3: rgba(252, 252, 98, 1);
$color4: rgba(254, 255, 234, 1);
$color5: rgba(201, 201, 201, 1);

$accent-color: hsla(243%, 55%, 16%, 1); 
$primary-header-color:hsla(243%, 55%, 16%, 1);
$secondary-header-color: hsla(243%, 55%, 16%, .8);
$primary-text-color: #222;
$anchor-color: $color1;

$alt-primary-header-color: $color4;
$alt-secondary-header-color: $color5;
$alt-primary-text-color: $color4;
$alt-anchor-color: $color3;

