$accent-color: #14123E;
$primary-header-color: #FEFFEA;
$secondary-header-color: #FCFC62;
$primary-header-alt-color: #fff;
$secondary-header-alt-color: #ccc;
$primary-text-color: #1c313a;
$primary-text-alt-color: #fff;
$anchor-color: #FCFC62;