$color1: hsla(354, 62%, 41%, 1);
$color2: hsla(243, 55%, 16%, 1);
$color3: hsla(60, 96%, 69%, 1);
$color4: hsla(63, 100%, 96%, 1);
$color5: hsla(0, 0%, 79%, 1);

$accent-color: $color2; 

$primary-header-color: $color2;
$secondary-header-color: hsla(243%, 55%, 16%, .8);
$primary-text-color: #222;
$anchor-color: $color1;

$alt-primary-header-color: $color4;
$alt-secondary-header-color: $color5;
$alt-primary-text-color: $color4;
$alt-anchor-color: $color3;

