@import '../../themes/googly/index'; 

section {
    width: 80%;
    max-width: 800px;
    margin: 2.6em auto;
    padding: 2em;
    background-color: hsla(63, 100%, 96%, .1);
    box-shadow: 0 0 .4em #aaa;
}

ul {
    list-style: none;
    padding-left: 0;
}

.post-date {
    font-family: $header-font-family;
    font-weight: bold;
    color: darken($accent-color, 10%);
}

.post-title {
    font-family: $header-font-family;
    color: $primary-text-color;
}

.post-blurb {
    color: $primary-text-color;
}
