@import '/themes/googly/index';
@import '~foundation-sites/scss/foundation';


body {
    height: 100%;
    background: url('/assets/squared_metal.png') repeat;
    color: $primary-text-color;
}

h1, h2, h3, h4 {
    font-family: $header-font-family;
}

p, li {
    font-family: $body-font-family;
}

a {
    text-decoration: none;
    color: $anchor-color;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 8em 1em;

    @include breakpoint(medium){
        width: 80%;
        margin: 8em auto;
    }

    @include breakpoint(large){
        width: 60%;
        margin: 4em 6em 2em 24em;
    }
}