$masthead-color: goldenrod;
$primary-header-color: #222;
$secondary-header-color: #444;
$primary-header-alt-color: #222;
$secondary-header-alt-color: #444;
$primary-text-color: #444;
$primary-text-alt-color: #444;